.area {
  width: 300px;
  min-height: 107px;
  background-color: var(--gray-500);
}
.alarmList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  width: 300px;
  height: 107px;
  padding: 20px;
  border-bottom: 1px solid var(--gray-400);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.text {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.time {
  color: var(--gray-300);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
