.area {
  width: 100%;
  max-width: 1920px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  margin: 0 auto;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 110px;
}

.logo {
  display: block;
  width: 140px;
  height: 25px;
  background-image: url("/assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 743px) and (max-width: 1199px) {
  .area {
    height: 70px;
  }
  .navbar {
    margin: 0 40px;
  }
}

@media (max-width: 743px) {
  .area {
    height: 60px;
  }
}
