.layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.area {
  min-width: 455px;
  max-width: 1034px;
  min-height: 646px;
  padding: 30px;
  background: var(--gray-500);
}

.btnArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  width: 30px;
  height: 30px;
  background-color: var(--gray-500);
  background-image: url("/icons/ic_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}
