.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1100;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: var(--gray-500);
  z-index: 1101;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  animation: sidebarOpen 0.2s ease;
}

@keyframes sidebarOpen {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 0;
  height: 100%;
}

.userBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 123px;
  padding: 40px 20px 20px;
  gap: 20px;
  border-bottom: 1px solid var(--gray-400);
}

.title {
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.userPoint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.text {
  color: var(--gray-300);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.point {
  color: var(--main);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.underArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 20px 40px;
  flex: 1 1 0;
}

.linkArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
}

.link {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.logout {
  background-color: var(--gray-500);
  border: none;
  padding: 0;
  color: var(--gray-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.loginArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 123px;
}

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 20px 20px;
  border-bottom: 1px solid var(--gray-400);
}

.loginMenuLink {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}
.userLink {
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.testLogin {
  width: 70px;
  margin-top: 20px;
  padding: 0;
  border: none;
  background-color: var(--gray-500);
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}
