.position {
  position: relative;
}

.area {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.point {
  color: var(--gray-200);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.alarm {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url("/icons/ic_alarm_default.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.name {
  color: var(--gray-200);
  font-family: "BR-B";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.bar {
  width: 1px;
  height: 17px;
  border: 1px solid var(--gray-400);
}

.logout {
  background-color: var(--black);
  border: none;
  padding: 0;
  color: var(--gray-400);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.infoBox {
  position: absolute;
  top: 100%;
  right: 38%;
}

.alarmBox {
  position: absolute;
  top: 100%;
  right: 63%;
}

.mobileNav {
  width: 100%;
  max-width: 743px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.mobileMenu {
  width: 22px;
  height: 22px;
  background-image: url("/icons/ic_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.mobileLogo {
  width: 84px;
  height: 16px;
  background-image: url("/assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.mobileAlarm {
  position: relative;
  width: 22px;
  height: 22px;
  background-image: url("/icons/ic_alarm_default.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* components/header/UserInfo.module.css */
.badgeDot {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 8px;
  height: 8px;
  background: #ff4d4f;
  border-radius: 9999px;

  /* border: 2px solid white; 아이콘 배경색에 따라 조정 */
}
