.info {
  width: 260px;
  min-height: 231px;
  background-color: var(--gray-500);
  position: relative;
  z-index: 10;
}

.userBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  min-height: 103px;
  padding: 20px;
  gap: 20px;
  border-bottom: 1px solid var(--gray-400);
}
.title {
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.userPoint {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.text {
  color: var(--gray-300);
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.point {
  color: var(--main);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pointAdd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  border: none;
  background-color: var(--main);
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.randomBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  border: none;
  background-color: var(--main);
  cursor: pointer;
}

.cooldown {
  background-color: var(--gray-300);
}

.btnText {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 1;
}

.timeText {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 2;
  white-space: nowrap;
}

.linkArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;
  padding: 20px;
}
.link {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}
