.rowDesktop {
  display: none;
}

.rowMobile {
  flex-direction: row;
  align-items: center;
  gap: 10px;
  display: flex;
}

.selectContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (min-width: 746px) {
  .rowDesktop {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .rowMobile {
    display: none;
  }
}

.filterBtn {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  border: 1px solid var(--gray-200);
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
