.filterContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0 60px;
}

.rowDesktop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}

.selectContainer {
  display: flex;
  align-items: center;
  gap: 45px;
}

.rowMobile {
  display: none;
}

@media (min-width: 743px) and (max-width: 1199px) {
  .rowDesktop {
    gap: 30px;
  }
  .selectContainer {
    gap: 25px;
  }
}

@media (max-width: 743px) {
  .filterContainer {
    margin: 15px 0 20px;
  }
  .rowDesktop {
    display: none;
  }
  .rowMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .filterBtn {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid var(--gray-200);
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
