.cardList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.cardItem {
  width: 100%;
  position: static;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "BR-B";
  color: var(--white);
  font-size: 30px;
  margin-top: 50px;
}
@media (min-width: 743px) and (max-width: 1199px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 743px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
