.box {
  display: block;
  width: 100%;
  height: auto;
}

.cardContainer {
  width: 100%;
  height: 100%;
  background: var(--gray-500);
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  position: relative;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ImageContainer {
  width: 100%;
  height: 300px;
  position: relative;
}

.responsiveImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 32px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--gray-400);
}

.title {
  color: var(--white);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photoCardInformation {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardGrade {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.divider {
  color: var(--gray-400);
  font-size: 16px;
  font-weight: 400;
}

.genre {
  color: var(--gray-300);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardOwner {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.saleInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin: 20px 0 47px;
}

.InfoTextContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-300);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.span {
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardLogo {
  text-align: center;
}

.common {
  color: var(--main);
}
.rare {
  color: var(--blue);
}
.super_rare {
  color: var(--purple);
}
.legendary {
  color: var(--pink);
}

@media (min-width: 743px) and (max-width: 1199px) {
  .cardContainer {
    padding: 20px;
  }

  .ImageContainer {
    height: 227px;
  }
  .infoBlock {
    margin-top: 22px;
  }
}

@media (max-width: 743px) {
  .cardContainer {
    padding: 10px;
  }
  .ImageContainer {
    height: 112px;
  }

  .infoBlock {
    gap: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .title {
    font-size: 14px;
  }

  .photoCardInformation {
    gap: 5px;
  }
  .genre,
  .cardOwner,
  .divider,
  .cardGrade,
  .InfoTextContainer,
  .span {
    font-size: 10px;
  }

  .saleInformation {
    margin: 10px 0 7px;
  }

  .cardLogo {
    display: none;
  }
}
