.pageContainer {
  width: 100%;
  max-width: 1920px;
  background-color: var(--black);
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 110px;
}

/* 태블릿: 768px ~ 1023px */
@media (min-width: 743px) and (max-width: 1199px) {
  .pageContainer {
    max-width: 744px;
    margin: 40px auto;
    padding: 0 20px;
  }
}

/* 모바일: 0px ~ 767px */
@media (max-width: 743px) {
  .pageContainer {
    max-width: 375px;
    margin: 20px auto;
    padding: 0 15px;
  }
}
