.titleBox {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--gray-100);
  width: 100%;
  padding-bottom: 20px;
}

.titleText {
  font-family: "BR-B", sans-serif;
  color: var(--white);
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 743px) and (max-width: 1199px) {
  .titleText {
    font-size: 48px;
  }
}

@media (max-width: 743px) {
  .titleBox {
    display: none;
  }
}
