.selectBox {
  display: flex;
  position: relative;
}

.selectIcon {
  background-color: black;
}

.selectBoxFont {
  color: aliceblue;
}

.selectContainer {
  display: flex;
  align-items: center;
}

.modal {
  position: absolute;
  top: 27px;
  left: 0;
  border: 1px solid #fff;
  background-color: black;
  width: 130px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  z-index: 1;
}

.selectContainerFilter {
  display: flex;
  align-items: center;
  width: 150px;
  border: 1px solid #fff;
  padding: 15px;
}

.modalFilter {
  position: absolute;
  top: 45px;
  left: -16px;
  border: 1px solid #fff;
  background-color: black;
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  z-index: 1;
}
