.selectBox {
  display: flex;
  position: relative;
}

.selectIcon {
  background-color: black;
}

.selectBoxFont {
  color: aliceblue;
}

.selectContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 27px;
  left: 0;
  border: 1px solid #fff;
  background-color: black;
  width: 130px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}

.selectContainerFilter {
  display: flex;
  align-items: center;
  width: 150px;
  border: 1px solid #fff;
  padding: 15px;
  cursor: pointer;
}

.modalFilter {
  position: absolute;
  top: 45px;
  left: -16px;
  border: 1px solid #fff;
  background-color: black;
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  z-index: 99;
}
.modalEvent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modalEvent:hover {
  background-color: var(--gray-400);
  height: 30px;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
