.selectContainer {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selectBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.selectIcon {
  background-color: var(--black);
}

.selectBoxFont {
  color: var(--selected-color, var(--white));
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modal {
  position: absolute;
  top: 27px;
  left: -15px;
  border: 1px solid var(--white);
  background-color: var(--black);
  width: 130px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.modalEvent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.madalText {
  color: var(--opt-color, var(--white));
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.modalEvent:hover {
  background-color: var(--main);
}
.modalEvent:hover .madalText {
  color: var(--black);
}

.selectContainerFilter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  border: 1px solid var(--white);
  padding: 13px 20px;
  cursor: pointer;
}

.modalFilter {
  position: absolute;
  top: 45px;
  left: -16px;
  border: 1px solid var(--white);
  background-color: var(--black);
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;
}

@media (min-width: 743px) and (max-width: 1199px) {
  .selectBoxFont {
    font-size: 14px;
  }
  .selectContainerFilter {
    width: 140px;
    height: 45px;
    padding: 10px 15px;
  }
}

@media (max-width: 743px) {
  .selectBoxFont {
    font-size: 12px;
  }
  .selectContainerFilter {
    width: 130px;
    height: 35px;
    padding: 10px 15px;
  }
}
