.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 8px;
}

.pageButton {
  border: 0;
  padding: 8px 12px;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  background-color: var(--black-black);
  color: #fff;
}

.pageButton:hover:not(:disabled):not(.active) {
  background: #aaa;
}
.pageButton:disabled {
  background: var(--gray-400);
  color: #aaa;
  border-color: #eee;
  cursor: not-allowed;
}

.active {
  border: 1px solid #fff;
  color: white;
}

.ellipsis {
  padding: 8px 12px;
  color: gray;
  user-select: none;
}
