.title_Text {
  font-size: 62px;
  color: var(--white);
  font-weight: 400;
  font-family: "BR-B", sans-serif;
}

.title_Button {
  display: flex;
  width: 440px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--main);
  border: none;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.title_Box {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #fff; */
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 20px;
}

.myGallery {
  /* background-color: var(--black); 
  */
  background-color: var(--black-black, #0f0f0f);
  min-height: 100vh;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

.filterBox {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  /* border-top: 1px solid #fff; */
}

.filterInput {
  display: flex;
  width: 320px;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-gray200, #ddd);
  background: var(--black-black, #0f0f0f);
  color: #fff;
}

.myGalleryContainer {
  width: 100%;
  padding: 0 150px;
}

.filterSelect {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}
.cardItem {
  position: static;
}

.filterBoxTable {
  display: none;
}

.modalOverlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%; /* 아래서 위로 절반 차지 */
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* 아래쪽 정렬 */
  z-index: 1000;
}

.modalContent {
  background-color: #1b1b1b;
  width: 100%;
  height: 70%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px;
  position: relative;
}
.modalClose {
  font-size: 24px;
  color: var(--gray-400);
}

.modalTitle {
  display: flex;
  justify-content: space-between;
}

.modalTitleFont {
  font-size: 16px;
  color: var(--gray-400);
  padding: 15px;
}

.modalOption {
  display: flex;
  gap: 24px;
  font-size: 14px;
  color: var(--gray-400);
}
.modalOptionLine {
  background-color: #0f0f0f;
  width: 100%;
  height: 2px;
}

.options {
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;
}

.common {
  color: var(--main);
}
.rare {
  color: var(--blue);
}
.super_rare {
  color: var(--purple);
}
.legendary {
  color: var(--pink);
}

.options:hover {
  background-color: #3b3b3b;
}

.optionItem {
  color: gray;
  cursor: pointer;
  border: 0;
  padding: 15px;
}

.optionItemActive {
  color: white;
  border-bottom: 1px solid #fff;
}
.modalButton {
  display: flex;
  width: 417px;
  height: 65px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--main-main, #efff04);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.modalButtonBox {
  display: flex;
  position: absolute;
  bottom: 10px;
}

.filterInputMobile {
  display: none;
  width: 100%;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-gray200, #ddd);
  background: var(--black-black, #0f0f0f);
  color: #fff;
}

/* 모바일: 0px ~ 746px */
@media (max-width: 746px) {
  .cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  .filterBox {
    display: none;
  }
  .filterBoxTable {
    display: flex;
    background-color: #0f0f0f;
    border: 1px solid #fff;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 50px;
  }
  .title_Text {
    display: none;
  }
  .title_Button {
    position: fixed;
    bottom: 80px;
    z-index: 15;
    left: 10%;
  }
  .filterContainer {
    padding-top: 16px;
  }
  .marketPlaceContainer {
    padding: 0;
  }
  .filterInputMobile {
    display: flex;
  }
  .filterSelect {
    margin-top: 0;
  }
  .title_Box {
    padding: 0;
  }
  .myGalleryContainer {
    padding: 0;
  }
}

@media (min-width: 746px) and (max-width: 1199px) {
  .myGalleryContainer {
    padding: 0;
  }
  .cardList {
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
  }
}

/* 태블릿: 747px ~ 1513px */
@media (min-width: 1200px) and (max-width: 1513px) {
  .cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: max-content;
  }
  .title_Button {
    width: 240px;
  }
  .title_Text {
    font-size: 42px;
  }
  .marketPlaceContainer {
    padding: 0;
  }
  .filterInput {
    width: 190px;
  }
  .title_Box {
    padding: 0;
  }
  .myGalleryContainer {
    padding: 0 150px;
  }
}

/* 데스크탑: 1514px ~ 1999px */
@media (min-width: 1514px) and (max-width: 1999px) {
  .cardList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  .myGalleryContainer {
    padding: 0 150px;
  }
}

/* 큰 화면: 2000px 이상 */
@media (min-width: 2000px) {
  .cardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .myGalleryContainer {
    padding: 0 150px;
  }
}

.topTitle {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--gray-gray400, #5a5a5a);
}

.filterInput {
  display: flex;
  width: 320px;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-gray200, #ddd);
  background: var(--black-black, #0f0f0f);
}

.filterSelect {
  color: #fff;
  background-color: var(--black-black);
  border: 0;
}
.filterOption {
  color: #fff;
  background-color: var(--black-black);
}

.MobileModal {
  position: fixed; /* 화면에 고정 */
  bottom: 0; /* 화면 맨 아래에 붙임 */
  left: 0;
  width: 100%; /* 가로 전체 */
  height: 60%; /* 화면 높이의 60% 차지 */
  background-color: #1b1b1b;
  border-top-left-radius: 12px; /* 위 모서리 둥글게 */
  border-top-right-radius: 12px;
  z-index: 9999; /* 다른 요소 위에 표시 */
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.MobileModalTitle {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--gray-gray400, #5a5a5a);
  justify-content: center;
  padding-top: 10px;
}

.close {
  position: absolute;
  right: 5%;
  cursor: pointer;
}

.MobileModal.show {
  transform: translateY(0); /* 나타날 때 */
}

.notFound {
  color: #fff;
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.loadingArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.loadingcardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 기본 3열 */
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 746px) {
  .loadingcardList {
    grid-template-columns: repeat(2, 1fr); /* 모바일 2열 */
    margin: 0 auto;
  }
}

/* 중간 화면: 747px ~ 1199px */
@media (min-width: 746px) and (max-width: 1199px) {
  .loadingcardList {
    grid-template-columns: repeat(2, 1fr); /* 2열 */
    width: max-content;
  }
}

/* 태블릿: 1200px ~ 1513px */
@media (min-width: 1200px) and (max-width: 1513px) {
  .loadingcardList {
    grid-template-columns: repeat(2, 1fr); /* 2열 */
    gap: 16px;
    width: max-content;
  }
}

/* 데스크탑: 1514px ~ 1999px */
@media (min-width: 1514px) and (max-width: 1999px) {
  .loadingcardList {
    grid-template-columns: repeat(3, 1fr); /* 3열 */
    gap: 16px;
    padding: 0 150px;
  }
}

/* 큰 화면: 2000px 이상 */
@media (min-width: 2000px) {
  .loadingcardList {
    grid-template-columns: repeat(4, 1fr); /* 4열 */
    gap: 16px;
    padding: 0 150px;
  }
}
