.myGallery {
  background-color: var(--black);
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  padding: 0 110px;
}
.myGalleryContainer {
  width: 100%;
}

.topTitle {
  margin-top: 40px;
}

.title_Text {
  font-size: 62px;
  color: var(--white);
  font-weight: 400;
  font-family: "BR-B", sans-serif;
}
.filterBox {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.filterInput {
  display: flex;
  width: 320px;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-200);
  background: var(--black);
  color: #fff;
}

.filterSelect {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 16px;
  width: 100%;
}
.cardItem {
  position: static;
  width: 100%;
}

.filterBoxTable {
  display: none;
}

.modalOverlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%; /* 아래서 위로 절반 차지 */
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* 아래쪽 정렬 */
  z-index: 1000;
}

.modalContent {
  background-color: var(--black);
  width: 100%;
  height: 70%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px;
  position: relative;
}
.modalClose {
  font-size: 24px;
  color: var(--gray-400);
}

.modalTitle {
  display: flex;
  justify-content: space-between;
}

.modalTitleFont {
  font-size: 16px;
  color: var(--gray-400);
  padding: 15px;
}

.modalOption {
  display: flex;
  gap: 24px;
  font-size: 14px;
  color: var(--gray-400);
}
.modalOptionLine {
  background-color: var(--black);
  width: 100%;
  height: 2px;
}

.options {
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;
}

.common {
  color: var(--main);
}
.rare {
  color: var(--blue);
}
.super_rare {
  color: var(--purple);
}
.legendary {
  color: var(--pink);
}

.options:hover {
  background-color: #3b3b3b;
}

.optionItem {
  color: gray;
  cursor: pointer;
  border: 0;
  padding: 15px;
}

.optionItemActive {
  color: white;
  border-bottom: 1px solid #fff;
}
.modalButton {
  display: flex;
  width: 417px;
  height: 65px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--main);
}
.modalButtonBox {
  display: flex;
  position: absolute;
  bottom: 10px;
}

.filterInputMobile {
  display: none;
  width: 100%;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-gray200, #ddd);
  background: var(--black-black, #0f0f0f);
  color: #fff;
}

@media (min-width: 743px) and (max-width: 1199px) {
  .myGallery {
    max-width: 744px;
    padding: 0 20px;
    margin: 40px auto;
  }
  .cardList {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
/* 모바일: 0px ~ 746px */
@media (max-width: 743px) {
  .myGallery {
    max-width: 375px;
    padding: 0 15px;
    margin: 20px auto;
  }
  .topTitle {
    margin-top: 20px;
  }
  .cardList {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .filterBox {
    display: none;
  }
  .filterBoxTable {
    display: flex;
    background-color: #0f0f0f;
    border: 1px solid #fff;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 50px;
  }
  .title_Text {
    display: none;
  }
  .title_Button {
    position: fixed;
    bottom: 80px;
    z-index: 15;
    left: 10%;
  }
  .filterContainer {
    display: none;
  }
  .marketPlaceContainer {
    padding: 0;
  }
  .filterInputMobile {
    display: flex;
  }
  .filterSelect {
    margin-top: 0;
  }
  .title_Box {
    padding: 0;
  }
}

.filterInput {
  display: flex;
  width: 320px;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-200);
  background: var(--black);
}

.filterSelect {
  color: #fff;
  background-color: var(--black);
  border: 0;
}
.filterOption {
  color: #fff;
  background-color: var(--black);
}

.MobileModal {
  position: fixed; /* 화면에 고정 */
  bottom: 0; /* 화면 맨 아래에 붙임 */
  left: 0;
  width: 100%; /* 가로 전체 */
  height: 70%; /* 화면 높이의 60% 차지 */
  background-color: #1b1b1b;
  border-top-left-radius: 16px; /* 위 모서리 둥글게 */
  border-top-right-radius: 16px;
  z-index: 9999; /* 다른 요소 위에 표시 */
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  padding: 20px 0;
}

.MobileModalTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px;
  color: var(--gray-400);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modalClose {
  width: 24px;
  height: 24px;
  background-image: url(/icons/ic_close_gray.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.MobileModal.show {
  transform: translateY(0); /* 나타날 때 */
}

.notFound {
  font-family: "BR-B";
  color: var(--white);
  font-size: 30px;
  margin-top: 50px;
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.loadingcardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 기본 3열 */
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}

/* 중간 화면: 747px ~ 1199px */
@media (min-width: 743px) and (max-width: 1199px) {
  .loadingcardList {
    grid-template-columns: repeat(2, 1fr); /* 2열 */
    width: 100%;
  }
}

@media (max-width: 743px) {
  .loadingcardList {
    grid-template-columns: repeat(2, 1fr); /* 모바일 2열 */
  }
}
