.cardContainer {
  width: 440px;
  height: 600px;
  background-color: #111;
  color: white;
  border: 1px solid #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cardImageBox {
  width: 100%;
  height: 300px;
  padding-bottom: 16px;
  position: relative;
  overflow: hidden;
}
.soldOutLayer {
  display: none;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  position: absolute;
  pointer-events: none;
  z-index: 10;
  height: 301px;
  top: 0px;
}

.show {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.responsiveImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.CardTextBox {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.CardTextBoxTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.CardSubTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

.CardSubTitleBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CardSubTitle2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 14px;
}

.subdiv {
  width: 2px;
  height: 14px;
  background-color: var(--gray-400);
}

.subTitleWriter {
  font-size: 12px;
  color: #aaa;
}

.cardLogo {
  text-align: center;
  padding-top: 12px;
}

.common {
  color: gray;
  /* border: 1px solid gray; */
}
.rare {
  color: blue;
  /* border: 1px solid blue; */
}
.super_rare {
  color: purple;
  /* border: 1px solid purple; */
}
.legendary {
  color: gold;
  /* border: 1px solid gold; */
}
.etc {
  color: darkgray;
  /* border: 1px solid darkgray; */
}

@media (max-width: 1023px) {
  .cardContainer {
    width: 343px;
    height: auto;
    padding: 16px;
  }

  .responsiveImage {
    width: 100%;
    height: 180px;
  }
  .soldOutLayer {
    height: 198px;
    top: -3px;
  }
}

@media (max-width: 767px) {
  .cardContainer {
    width: 206px;
    height: 311px;
    padding: 12px;
  }

  .responsiveImage {
    height: 120px !important;
  }

  .cardLogo {
    display: none;
  }

  .CardTextBoxTitle {
    font-size: 16px;
  }

  .CardSubTitle2 {
    font-size: 12px;
  }
  .soldOutLayer {
    height: 146px;
    top: -17px;
  }
  .CardTextBox {
    height: 100%;
    margin: 0;
  }
  .cardBox {
    height: 100%;
  }
}
/* @keyframes shimmer {
  0%,
  100% {
    box-shadow: 0 0 8px 2px rgba(255, 215, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 12px 4px rgba(255, 215, 0, 0.7);
  }
}

.legendary {
  animation: shimmer 1.2s infinite ease-in-out;
  background-color: rgba(255, 215, 0, 0.1);
} */
