.cardContainer {
  width: 440px;
  height: 600px;
  background-color: #111;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* perspective: 1000px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cardImageBox {
  width: 100%;
  height: 300px;
  padding-bottom: 16px;
  position: relative;
}
.soldOutLayer {
  display: none;
  width: 100%;
  object-fit: cover;
  position: absolute;
  pointer-events: none;
  z-index: 10;
  height: 301px;
  top: 0px;
}

.show {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.responsiveImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* padding: 10px; */
}

.CardTextBox {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.CardTextBoxTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.CardSubTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

.CardSubTitleBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.CardSubTitle2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}
.subTitleGenre {
  color: var(--gray-gray300, #a4a4a4);
}

.subdiv {
  width: 2px;
  height: 14px;
  background-color: var(--gray-400);
}

.subTitleWriter {
  font-size: 12px;
  color: #aaa;
}

.cardLogo {
  text-align: center;
  padding-top: 12px;
}

.COMMON {
  color: var(--main);
  /* border: 1px solid gray; */
}
.RARE {
  color: var(--blue);
  /* border: 1px solid blue; */
}
.SUPER_RARE {
  color: var(--purple);
  /* border: 1px solid purple; */
}
.LEGENDARY {
  color: var(--pink);
  /* border: 1px solid gold; */
}
.ETC {
  color: darkgray;
  /* border: 1px solid darkgray; */
}

.LinkBox {
  display: inline-block;
  text-decoration: none;
}

@media (max-width: 1023px) {
  .cardContainer {
    max-width: 409px;
    padding: 16px;
  }

  .responsiveImage {
    width: 100%;
    height: 180px;
  }
  .soldOutLayer {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .cardContainer {
    width: 223px;
    height: 286px;
    padding: 12px;
  }

  .responsiveImage {
    height: 150px !important;
    width: 100%;
    height: 100%;
    inset: 0;
  }

  .cardLogo {
    display: none;
  }

  .CardTextBoxTitle {
    font-size: 16px;
  }

  .CardSubTitle2 {
    font-size: 12px;
  }
  .soldOutLayer {
    height: 155px;
  }
  .CardTextBox {
    height: 100%;
    margin: 0;
  }
  .cardBox {
    height: 100%;
  }
  .CardTextBoxUpgrade {
    margin-top: 137px;
  }
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color);
  }
  50% {
    box-shadow: 0 0 20px var(--glow-color), 0 0 40px var(--glow-color);
  }
  100% {
    box-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color);
  }
}

.glow-common,
.glow-rare,
.glow-super_rare,
.glow-legendary,
.glow-etc {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glow-common:hover {
  --glow-color: var(--main);
  animation: glowPulse 1.5s infinite ease-in-out;
  transform: scale(1.01);
}

.glow-rare:hover {
  --glow-color: var(--blue);
  animation: glowPulse 1.5s infinite ease-in-out;
  transform: scale(1.01);
}

.glow-super_rare:hover {
  --glow-color: var(--purple);
  animation: glowPulse 1.5s infinite ease-in-out;
  transform: scale(1.01);
}

.glow-legendary:hover {
  --glow-color: var(--pink);
  animation: glowPulse 1.5s infinite ease-in-out;
  transform: scale(1.01);
}

.glow-etc:hover {
  --glow-color: darkgray;
  animation: glowPulse 1.5s infinite ease-in-out;
  transform: scale(1.01);
}

.cardFontColor {
  color: var(--gray-gray300, #a4a4a4);
}

.cardFontColorWhite {
  color: #fff;
  padding-right: 4px;
}

.priceBox {
  display: flex;
}

/* .cardBack {
  background: #222;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 440px;
  height: 600px;
  position: absolute;
  top: 27%;
}

.cardBox,
.cardBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
}

.cardBox {
  background: inherit;
  z-index: 2;
  transform: rotateY(0deg);
}

.cardBack {
  background: #222;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cardContainer:hover .cardBox {
  transform: rotateY(180deg);
}

.cardContainer:hover .cardBack {
  transform: rotateY(360deg);
} */
