.Container {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  border-bottom: 1px solid var(--white);
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.titleFont {
  color: var(--white);
  font-family: "Noto Sans KR";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titleButton {
  display: flex;
  width: 440px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 2px;
  background: var(--main);
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.ContentFont {
  color: var(--white);
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Line {
  width: 3px;
  height: 28px;
  background-color: var(--gray-300);
  margin-left: 15px;
}

.ContentTagBox {
  display: flex;
  margin-top: 20px;
}

.Type {
  color: var(--gray-300);
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding-left: 10px;
}

.Content {
  margin-top: 40px;
}
.common {
  color: var(--main);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.rare {
  color: var(--blue);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.super_rare {
  color: var(--purple);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.legendary {
  color: var(--main);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.MobileButton {
  display: none;
  width: 440px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: none;
  border-radius: 2px;
  background: var(--main);
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

@media (max-width: 743px) {
  .titleButton {
    display: none;
  }
  .MobileButton {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }
}
