.Container {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  border-bottom: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.titleFont {
  color: var(--white-white, #fff);
  font-family: "Noto Sans KR";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.titleButton {
  display: flex;
  width: 440px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--main-main, #efff04);
}

.ContentFont {
  color: var(--white-white, #fff);
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Line {
  width: 3px;
  height: 28px;
  background-color: #a4a4a4;
}

.ContentTagBox {
  display: flex;
  margin-top: 20px;
}

.Type {
  color: var(--gray-gray300, #a4a4a4);
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 10px;
}

.Content {
  margin-top: 40px;
}
