* {
  box-sizing: border-box;
}
@font-face {
  font-family: "BR-B";
  src: url("/fonts/BR-B.ttf");
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("/fonts/NotoSansKR-Regular.ttf");
}

body {
  font-family: "Noto Sans KR";
}

button,
input,
select,
textarea {
  font-family: "Noto Sans KR";
}

html,
body,
#__next {
  background: var(--black);
  min-height: 100%;
}

:root {
  --main: #efff04;
  --black: #0f0f0f;
  --white: #ffffff;
  --red: #ff483d;
  --blue: #29c9f9;
  --purple: #a77eff;
  --pink: #ff2a6a;
  --gray-500: #161616;
  --gray-400: #5a5a5a;
  --gray-300: #a4a4a4;
  --gray-200: #dddddd;
  --gray-100: #eeeeee;
}
