.btnArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: none;
  width: 70px;
  height: 30px;
}

.main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: calc(100vh - 80px);
  background: var(--black);
  scrollbar-width: none; /* 파이어폭스 */
  -ms-overflow-style: none; /* IE/Edge */
}
.main::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 */
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  outline: none;
  background-color: var(--black);
}

.area {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backArea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--white);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 22px 0 32px;
}

.linkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 226px;
  height: 55px;
  background-color: var(--main);
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.box {
  width: 1068px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.subTitle {
  color: var(--white);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.titlePoint,
.topPoint {
  color: var(--main);
}
.middlePoint {
  color: var(--blue);
}
.underPoint {
  color: #ff3232;
}

.subText {
  color: var(--gray-200);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px;
}
.underText {
  margin-bottom: 40px;
}

.mainImgBox {
  width: 100%;
  max-width: 1917px;
  height: 765px;
  background-image: url("/assets/main-img.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.subImg1Box {
  width: 1068px;
  height: 650px;
  background-image: url("/assets/sub-img1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subImg2Box {
  position: absolute;
  width: 754px;
  height: 511px;
  right: 0;
  z-index: 0;
  background-image: url("/assets/sub-img2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.subImg3Box {
  width: 890px;
  height: 570px;
  background-image: url("/assets/sub-img3.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.subImg4Box {
  width: 400px;
  height: 470px;
  background-image: url("/assets/sub-img4.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imgArea {
  position: relative;
  width: 1068px;
  height: 518px;
  display: flex;
  justify-content: flex-start;
}
.speechArea {
  display: flex;
  flex-direction: column;
}
.speechBlue {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 213px;
  height: 57px;
  background-color: #04b8ff;
  border-radius: 16px;
  z-index: 1;
  margin: 130px 0 33px 16px;
}
.polygonBlue {
  position: absolute;
  bottom: -11px;
  left: 26px;
  width: 18px;
  height: 15px;
  background-image: url("/icons/polygon-blue.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blueText {
  color: var(--black);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.speechGray {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 57px;
  background-color: #64656a;
  border-radius: 16px;
  z-index: 1;
  margin-left: 106px;
}

.polygonGray {
  position: absolute;
  bottom: -11px;
  right: 36px;
  width: 18px;
  height: 15px;
  background-image: url("/icons/polygon-gray.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.grayText {
  color: var(--white);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footerText {
  color: var(--white);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 28px 0;
}

@media (min-width: 743px) and (max-width: 1199px) {
  .area {
    min-width: 743px;
  }
  .mainImgBox {
    width: 743px;
    height: 352px;
  }
  .box {
    width: 743px;
    padding-left: 61px;
  }

  .subImg1Box {
    width: 620px;
    height: 384px;
    margin-top: 22px;
  }

  .subImg2Box {
    width: 577px;
    height: 382px;
    bottom: 0;
  }

  .subImg3Box {
    width: 557px;
    height: 357px;
    margin-top: 46px;
  }
  .subImg4Box {
    width: 300px;
    height: 355px;
  }

  .imgArea {
    width: 600px;
    height: 480px;
    margin-top: 56px;
  }

  .speechBlue {
    margin: 0 0 25px 0;
  }

  .speechGray {
    margin-left: 68px;
  }
}

@media (max-width: 743px) {
  .area {
    min-width: 375px;
  }
  .mainImgBox {
    width: 375px;
    height: 199px;
  }

  .hideImg {
    display: none;
  }

  .title {
    font-size: 20px;
  }

  .linkBtn {
    width: 150px;
    height: 40px;
    font-size: 12px;
    margin-bottom: 26px;
  }

  .box {
    width: 343px;
  }

  .subImg1Box {
    width: 343px;
    height: 211px;
    margin-top: 12px;
  }

  .subImg2Box {
    width: 325px;
    height: 226px;
    bottom: 0;
  }

  .subImg3Box {
    width: 308px;
    height: 198px;
    margin-top: 23px;
  }

  .subImg4Box {
    width: 200px;
    height: 235px;
  }

  .imgArea {
    width: 353px;
    height: 330px;
    margin-top: 31px;
  }

  .speechBlue {
    width: 135px;
    height: 36px;
    border-radius: 10px;
    margin: 0 0 13px 40px;
  }

  .speechGray {
    width: 179px;
    height: 36px;
    border-radius: 10px;
    margin-left: 120px;
  }

  .polygonBlue,
  .polygonGray {
    bottom: -7px;
  }

  .blueText,
  .grayText {
    font-size: 10px;
  }
  .subTitle {
    font-size: 20px;
  }
  .subText {
    font-size: 14px;
    margin-top: 12px;
  }

  .footerText {
    font-size: 20px;
  }
}
