.btnArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  border: none;
  width: 70px;
  height: 30px;
}

.main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: calc(100vh - 80px);
  background: var(--black);
  scrollbar-width: none; /* 파이어폭스 */
  -ms-overflow-style: none; /* IE/Edge */
}
.main::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 */
}

.section {
  width: 100wv;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  outline: none;
  background-image: url("/assets/test-img.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.viewSection {
  background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
}
.viewSection1 {
  background-image: url("/assets/back-img1.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.viewSection2 {
  background-image: url("/assets/back-img2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainArea,
.topSubArea,
.middleSubArea,
.underSubArea,
.footerSubArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--white);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin: 22px 0 32px;
}
.titlePoint {
  color: var(--main);
}

.linkBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 226px;
  height: 55px;
  background-color: var(--main);
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}

.box {
  width: 1068px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.subTitle {
  color: var(--white);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.topPoint,
.underPoint {
  color: var(--main);
}
.middlePoint {
  color: var(--blue);
}

.topText,
.middleText,
.underText {
  color: var(--gray-200);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 16px 0 0;
}
.underText {
  margin-bottom: 40px;
}

.footerText {
  color: var(--white);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 28px 0;
}

.imgArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.speechBubble {
  display: flex;
  flex-direction: column;
}
.speechBlue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 213px;
  height: 57px;
  background-color: var(--blue);
  border-radius: 16px;
  color: var(--black);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 1;
  margin: 130px 0 33px 16px;
}
.speechGray {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 57px;
  background-color: var(--gray-400);
  border-radius: 16px;
  color: var(--white);
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  z-index: 1;
  margin-left: 106px;
}
