.marketPlace {
  background-color: var(--black);
  width: 100%;
  max-width: 1920px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px auto;
  padding: 0 110px;
}

.title_Box {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--white);
}

.title_Text {
  font-size: 62px;
  color: var(--white);
  font-weight: 400;
  font-family: "BR-B", sans-serif;
}

.title_Button {
  display: flex;
  width: 440px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--main);
  border: none;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.marketPlaceContainer {
  width: 100%;
  margin: 0 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filterBox {
  display: flex;
  align-items: center;
  gap: 45px;
}

.filterContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 50px;
}

.filterInput {
  display: flex;
  width: 320px;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-200);
  background: var(--black);
  color: var(--white);
}

.filterSelect {
  display: flex;
  align-items: center;
}

.cardList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}
.cardItem {
  width: 100%;
  position: static;
}

.filterBoxTable {
  display: none;
  cursor: pointer;
}

.recicle {
  cursor: pointer;
}
.modalOverlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%; /* 아래서 위로 절반 차지 */
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* 아래쪽 정렬 */
  z-index: 1000;
}

.modalContent {
  background-color: #1b1b1b;
  width: 100%;
  height: 70%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px 0;
  position: relative;
}
.modalClose {
  width: 24px;
  height: 24px;
  background-image: url(/icons/ic_close_gray.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modalTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 15px;
}

.modalTitleFont {
  color: var(--gray-400);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.modalOption {
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  border-bottom: 2px solid var(--black);
  gap: 24px;
  margin-bottom: 20px;
}
.modalButtonBox {
  width: 337px;
  height: 55px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}

.optionItem {
  color: var(--gray-300);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  border: 0;
  padding: 15px;
}

.optionItemActive {
  color: white;
  border-bottom: 2px solid var(--white);
}
.modalRefreshBtn {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--main);
  border: none;
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.options {
  display: flex;
  padding: 16px 40px;
  justify-content: space-between;
  color: var(--gray-300);
}
.optionsActive {
  background-color: #3b3b3b;
  color: var(--white);
}

.options:hover {
  background-color: #3b3b3b;
}

.common {
  color: var(--main);
}
.rare {
  color: var(--blue);
}
.super_rare {
  color: var(--purple);
}
.legendary {
  color: var(--pink);
}

.filterInputMobile {
  display: none;
  width: 100%;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-200);
  background: var(--black);
  color: #fff;
}
.scrollButton {
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}

/* 태블릿 스타일 */
@media (min-width: 743px) and (max-width: 1199px) {
  .marketPlace {
    max-width: 744px;
    padding: 0 20px;
    margin: 40px auto;
  }

  .filterContainer {
    margin-bottom: 40px;
  }

  .filterBox {
    gap: 15px;
  }

  .cardList {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .title_Button {
    width: 342px;
    font-size: 16px;
  }
  .title_Text {
    font-size: 42px;
  }

  .filterInput {
    width: 190px;
  }
}

/* 모바일: 0px ~ 767px */
@media (max-width: 743px) {
  .marketPlace {
    max-width: 375px;
    padding: 0 15px;
    margin: 20px auto;
  }

  .cardList {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .filterBox {
    display: none;
  }

  .filterBoxTable {
    width: 35px;
    height: 35px;
    display: flex;
    background-color: var(--black);
    border: 1px solid var(--white);
    align-items: center;
    padding: 0;
  }

  .title_Text {
    display: none;
  }
  .title_Button {
    position: fixed;
    width: 345px;
    height: 55px;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    font-size: 16px;
  }
  .filterContainer {
    margin: 15px 0 20px;
  }
  .marketPlaceContainer {
    padding: 0;
  }
  .filterInputMobile {
    display: flex;
    height: 45px;
  }
  .filterSelect {
    margin-top: 0;
  }
  .title_Box {
    padding-bottom: 10px;
  }
}

@keyframes shrink {
  from {
    height: 200px;
  }
  to {
    height: 0;
  }
}

.Loading {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin: 100px 0;
  animation-name: shrink; /* 사용할 키프레임 이름 */
  animation-duration: 1s; /* 애니메이션 지속 시간 */
  animation-timing-function: ease-in-out; /* 속도 곡선 */
  animation-fill-mode: forwards; /* 애니메이션 끝난 상태 유지 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* 0%일 때 0도 */
  }
  100% {
    transform: rotate(360deg); /* 100%일 때 360도 */
  }
}

.spinner {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 10px solid #f3f3f3; /* 스피너의 회색 배경 */
  border-top: 10px solid var(--main); /* 회전할 파란색 부분 */
  border-radius: 50%; /* 원형으로 만듦 */
  animation: spin 1s linear infinite;
}

.modalButtonImg {
  display: flex;
}

.emptyMessageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 24px;
}
