.title_Text {
  font-size: 62px;
  color: var(--white);
  font-weight: 400;
  font-family: "BR-B", sans-serif;
}

.title_Button {
  display: flex;
  width: 440px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--main);
  border: none;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.title_Box {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #fff; */
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 20px;
}

.marketPlace {
  background-color: var(--black);
  min-height: 100vh;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

.filterBox {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.filterContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-top: 1px solid #fff;
}

.filterInput {
  display: flex;
  width: 320px;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-gray200, #ddd);
  background: var(--black);
  color: #fff;
}

.marketPlaceContainer {
  width: 100%;
  padding: 0 150px;
}

.filterSelect {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}
.cardItem {
  position: static;
}

.filterBoxTable {
  display: none;
  cursor: pointer;
}

.recicle {
  cursor: pointer;
}
.modalOverlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%; /* 아래서 위로 절반 차지 */
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: flex-end; /* 아래쪽 정렬 */
  z-index: 1000;
}

.modalContent {
  background-color: #1b1b1b;
  width: 100%;
  height: 70%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px;
  position: relative;
}
.modalClose {
  font-size: 24px;
  color: var(--gray-400);
}

.modalTitle {
  display: flex;
  justify-content: space-between;
}

.modalTitleFont {
  font-size: 16px;
  color: var(--gray-400);
  padding: 15px;
}

.modalOption {
  display: flex;
  gap: 24px;
  font-size: 14px;
  color: var(--gray-400);
}
.modalOptionLine {
  background-color: #0f0f0f;
  width: 100%;
  height: 2px;
}

.options {
  display: flex;
  padding: 16px 32px;
  justify-content: space-between;
  color: var(--gray-gray300, #a4a4a4);
}
.optionsActive {
  background-color: #474747;
  color: #fff;
}

.optionItemActive {
  /* background-color: #474747; */
}

.common {
  color: var(--main);
}
.rare {
  color: var(--blue);
}
.super_rare {
  color: var(--purple);
}
.legendary {
  color: var(--pink);
}

.options:hover {
  background-color: #3b3b3b;
}

.optionItem {
  color: gray;
  cursor: pointer;
  border: 0;
  padding: 15px;
}

.optionItemActive {
  color: white;
  border-bottom: 1px solid #fff;
}
.modalButton {
  display: flex;
  width: 372px;
  height: 65px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--main-main, #efff04);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.modalButtonBox {
  display: flex;
  position: absolute;
  bottom: 10px;
  align-items: center;
  gap: 10px;
  right: 10px;
  /* 수정 */
}

.filterInputMobile {
  display: none;
  width: 100%;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-gray200, #ddd);
  background: var(--black-black, #0f0f0f);
  color: #fff;
}
.scrollButton {
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}

@media screen and (max-width: 1513px) {
  /* 여기에 1513px 이하일 때 적용할 스타일 작성 */
  .cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: max-content;
    margin: 0 auto;
  }
}

@media (min-width: 2155px) {
  /* 데스크탑 스타일 */
  .cardList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1347px) {
  /* 데스크탑 스타일 */
}

/* 태블릿: 768px ~ 1023px */
@media (min-width: 1200px) and (max-width: 1695px) {
  /* 태블릿 스타일 */
  .cardList {
    display: grid;
    width: max-content;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  .title_Button {
    width: 240px;
  }
  .title_Text {
    font-size: 42px;
  }
  .marketPlaceContainer {
    padding: 0 150px;
  }
  .filterInput {
    width: 190px;
  }

  @media (max-width: 1355px) {
    .cardList {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 745px) and (max-width: 1199px) {
  .cardList {
    display: grid;
    width: max-content;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  .title_Button {
    width: 240px;
  }
  .title_Text {
    font-size: 42px;
  }
  .marketPlaceContainer {
    padding: 0;
  }
  .filterInput {
    width: 190px;
  }
  .title_Box {
    padding: 0;
  }
  @media (max-width: 1355px) {
    .cardList {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* 모바일: 0px ~ 767px */
@media (max-width: 746px) {
  /* 모바일 스타일 */
  .cardList {
    grid-template-columns: repeat(2, 1fr);
    width: max-content;
    margin: 0 auto;
  }
  .filterBox {
    display: none;
  }
  .filterBoxTable {
    display: flex;
    background-color: #0f0f0f;
    border: 1px solid #fff;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 50px;
  }
  .title_Text {
    display: none;
  }
  .title_Button {
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
  }
  .filterContainer {
    padding: 16px;
  }
  .marketPlaceContainer {
    padding: 0;
  }
  .filterInputMobile {
    display: flex;
  }
  .filterSelect {
    margin-top: 0;
  }
  .title_Box {
    padding: 10px;
  }
}

@keyframes shrink {
  from {
    height: 200px;
  }
  to {
    height: 0;
  }
}

.Loading {
  width: 100%;
  height: 200px;
  animation-name: shrink; /* 사용할 키프레임 이름 */
  animation-duration: 1s; /* 애니메이션 지속 시간 */
  animation-timing-function: ease-in-out; /* 속도 곡선 */
  animation-fill-mode: forwards; /* 애니메이션 끝난 상태 유지 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* 0%일 때 0도 */
  }
  100% {
    transform: rotate(360deg); /* 100%일 때 360도 */
  }
}

.spinner {
  position: fixed;
  bottom: 10px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3; /* 스피너의 회색 배경 */
  border-top: 5px solid yellow; /* 회전할 파란색 부분 */
  border-radius: 50%; /* 원형으로 만듦 */
  animation: spin 1s linear infinite;
}

.modalButtonImg {
  display: flex;
}

.emptyMessageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 24px;
}
