.cardContainer {
  width: 100%;
  height: 600px;
  background-color: #111;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cardImageBox {
  width: 100%;
  height: auto;
  padding-bottom: 16px;
  position: relative;
}

.soldOutLayer {
  display: none;
  width: 100%;
  height: 301px;
  border-radius: 8px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.show {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

.responsiveImage {
  width: 100%;
  height: 301px;

  object-fit: cover;
}

.CardTextBox {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 16px;
}

.CardTextBoxTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.CardSubTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  margin-bottom: 12px;
}

.CardSubTitleBox {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.CardSubTitle2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 14px;
}

.subdiv {
  width: 2px;
  height: 14px;
  background-color: var(--gray-400);
}

.subTitleWriter {
  font-size: 12px;
  color: #aaa;
}

.cardLogo {
  text-align: center;
  padding-top: 12px;
}

.COMMON {
  color: var(--main);
}
.RARE {
  color: var(--blue);
}
.SUPER_RARE {
  color: var(--purple);
}
.LEGENDARY {
  color: var(--pink);
}
.ETC {
  color: darkgray;
}

/* ✅ 태블릿 */
@media (max-width: 1023px) {
  .cardContainer {
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .responsiveImage {
  }

  .soldOutLayer {
  }
}

/* ✅ 모바일 */
@media (max-width: 767px) {
  .cardContainer {
    width: 100%;
    height: auto;
    padding: 12px;
  }
  .CardTextBox {
    font-size: 10px;
  }

  .responsiveImage {
    height: 150px;
  }

  .soldOutLayer {
    height: 150px;
  }

  .cardLogo {
    display: none;
  }

  .CardTextBoxTitle {
    font-size: 14px;
  }

  .CardSubTitle2 {
    font-size: 12px;
  }
  .CardSubTitle {
    font-size: 9px;
  }
  .subTitleWriter {
    font-size: 9px;
  }
}
