.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 10px;
  background: var(--black);
  border: 1px solid var(--gray-700);
  border-radius: 4px;
  flex-wrap: wrap;
}

.grade,
.value {
  display: inline-block;
  height: 40px;
  border-radius: 4px;
  background: #2a2a2a;
  animation: pulse 1.5s infinite ease-in-out;
}

.grade {
  width: 160px;
}

.value {
  width: 140px;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@media (max-width: 746px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, auto); /* 2칸 */
    grid-template-rows: repeat(2, auto); /* 2줄 */
    gap: 10px;
  }

  .grade,
  .value {
    grid-column: auto;
    grid-row: auto;
    justify-self: start;
  }
}
