.Container {
  display: flex;
  border: 1px solid #fff;
  width: 176px;
  height: 50px;
  flex-shrink: 0;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box_m {
  padding-left: 5px;
}

.box_p {
  padding-right: 5px;
}

.boxFont {
  font-size: 20px;
}
