.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 8px 20px;
  gap: 10px;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  background: var(--black);
  flex-shrink: 0;
}

.yellow {
  color: var(--main);
  border: 1px solid var(--main);
}

.blue {
  color: var(--blue);
  border: 1px solid var(--blue);
}

.purple {
  color: var(--purple);
  border: 1px solid var(--purple);
}

.pink {
  color: var(--pink);
  border: 1px solid var(--pink);
}
