.title_Text {
  font-size: 62px;
  color: var(--white);
  font-weight: 400;
  font-family: "BR-B", sans-serif;
}

.title_Button {
  display: flex;
  width: 440px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  background: var(--main);
  border: none;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.title_Box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #fff; */
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.filterInputMobile {
  display: none;
  width: 100%;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-gray200, #ddd);
  background: var(--black-black, #0f0f0f);
  color: #fff;
}
.filterBoxTable {
  display: none;
}

@media screen and (max-width: 1513px) {
  /* 여기에 1513px 이하일 때 적용할 스타일 작성 */
  .cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

/* PC (데스크탑): 1024px 이상 */
@media (min-width: 1024px) {
  /* 데스크탑 스타일 */
}

/* 태블릿: 768px ~ 1023px */
@media (min-width: 746px) and (max-width: 1199px) {
  /* 태블릿 스타일 */

  .title_Button {
    width: 240px;
  }
  .title_Text {
    font-size: 42px;
  }
  .title_Box {
    padding: 0;
  }
}

/* 모바일: 0px ~ 767px */
@media (max-width: 746px) {
  /* 모바일 스타일 */

  .title_Text {
    display: none;
  }
  .title_Button {
    position: fixed;
    bottom: 90px;
    z-index: 15;
    left: 50%;
    transform: translateX(-50%);
  }
  .title_Box {
    padding: 0;
    gap: 10px;
    border: 0px;
  }
  .filterInputMobile {
    display: flex;
    width: 80%;
  }
  .filterBoxTable {
    display: flex;
    background-color: #0f0f0f;
    border: 1px solid #fff;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
  }
}
