.modal {
  width: 1160px;
  height: 1000px;
  background-color: var(--gray-500);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 50;
  padding-left: 90px;
  padding-top: 60px;
  box-sizing: border-box;
  overflow-y: auto;
}

.modal::-webkit-scrollbar {
  width: 6px;
}

.modal::-webkit-scrollbar-thumb {
  background: var(--gray-400);
  border-radius: 3px;
}

.modal::-webkit-scrollbar-track {
  background: transparent;
}

.closeButton {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  color: var(--gray-300);
  font-family: "BR-B";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
  margin-bottom: 40px;
}

.titleArea {
  display: flex;
  width: 980px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-bottom: 4px solid var(--white);
  margin-bottom: 20px;
}

.titleTxt {
  color: var(--white);
  font-family: "BR-B";
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.38px;
  margin-bottom: 20px;
}

.searchArea {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.searchWrap {
  position: relative;
  display: inline-block;
}

.searchInput {
  display: flex;
  width: 320px;
  height: 50px;
  padding: 13px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-200);
  background: var(--black);
  padding-right: 40px;
  color: var(--gray-200);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}

.searchIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.filterBox {
  display: flex;
  gap: 45px;
  z-index: 100;
}

.filterToggleBtn {
  display: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  height: 600px;
  margin-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;
}

.cardList::-webkit-scrollbar {
  width: 6px;
}

.cardList::-webkit-scrollbar-thumb {
  background: var(--gray-400);
  border-radius: 3px;
}

.cardList::-webkit-scrollbar-track {
  background: transparent;
}

.cardItem {
  position: static;
  cursor: pointer;
}

/* .detailContainer {
  height: 750px;
  overflow-y: auto;
  padding-right: 12px;
} */

.aboutPhoto {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  margin-top: 50px;
}

.cardInfo {
  font-size: 24px;
}

.saleDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  gap: 40px;
  color: var(--white);
  font-size: 20px;
}

.exchangeInput {
  color: var(--white);
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.memo {
  width: 498px;
  height: 159px;
  margin-top: 10px;
  background: var(--gray-500);
  border: 1px solid var(--gray-200);
  color: var(--gray-200);
  padding: 12px;
  font-size: 16px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border-radius: 2px;
  resize: none;
}

.btnArea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--gray-400);
  width: 498px;
  padding-top: 30px;
  margin-top: 60px;
  gap: 20px;
  padding-bottom: 60px;
}

.cancelBtn {
  display: flex;
  width: 239px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid var(--gray-100);
  background: var(--gray-500);
  color: var(--white);
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.confirmBtn {
  display: flex;
  width: 239px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid var(--main);
  border-radius: 2px;
  background: var(--main);
  color: var(--black);
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 49;
}

/* 반응형 */

/* PC(모달보다 작아질 때) */
@media (min-width: 1024px) and (max-width: 1159px) {
  .modal {
    width: 96vw; /* 예: 96% of viewport */
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .titleArea,
  .btnArea,
  .exchangeTitle,
  .memo {
    width: 100%;
    max-width: 100%;
  }

  .aboutPhoto {
    flex-direction: row;
    gap: 32px;
  }

  .cardImage {
    flex-shrink: 0;
  }

  .responsiveImage {
    max-width: 100%;
  }

  .memo {
    width: 432px;
    height: 120px;
  }

  .btnArea {
    gap: 20px;
  }

  .cancelBtn,
  .confirmBtn {
    width: 205px;
  }
}

/* 태블릿 용 */
@media (min-width: 768px) and (max-width: 1023.9px) {
  .overlay {
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal {
    width: 100vw;
    height: calc(100vh - 40px);
    margin: 0;
    border-radius: 0;
    padding: 40px 24px;
    transition: transform 0.2s ease-out;
    position: relative;
    overflow-y: auto;
  }

  .modal.detail {
    width: 100vw;
    /*height: calc(100vh - 250px);*/
    margin: 0;
    border-radius: 0;
    padding: 40px 24px;
    transition: transform 0.2s ease-out;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
  }

  .titleArea,
  .btnArea,
  .exchangeTitle,
  .memo {
    width: 100%;
    max-width: 100%;
  }

  .titleTxt {
    font-size: 32px;
  }

  .searchArea {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .filterBox {
    gap: 24px;
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 16px;
  }

  .cardList :global(.cardContainer) {
    width: 100%;
    padding: 16px;
  }

  .cardImage :global(.cardContainer) {
    width: 320px;
    padding: 16px;
  }

  .aboutPhoto {
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
  }

  .cardImage {
    width: 330px;
    flex-shrink: 0;
  }

  .cardInfo {
    width: 100%;
    min-width: 300px;
  }

  .memo {
    width: 500px;
    height: 120px;
  }

  .btnArea {
    gap: 20px;
  }

  .cancelBtn,
  .confirmBtn {
    width: 174px;
  }

  .closeButton {
    display: none;
  }

  .dragBar {
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 48px;
    height: 6px;
    background: var(--gray-400);
    border-radius: 50px;
    margin: 0 auto 16px auto;
    touch-action: none;
  }

  .modal::-webkit-scrollbar,
  .cardList::-webkit-scrollbar {
    display: none;
  }

  .modal,
  .cardList {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* 모바일 용 */
@media (min-width: 426px) and (max-width: 767.9px) {
  .overlay {
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal {
    width: 100vw;
    height: calc(100vh - 40px);
    margin: 0;
    border-radius: 0;
    padding: 40px 24px;
    transition: transform 0.2s ease-out;
    position: relative;
    overflow-y: auto;
  }

  .modal.detail {
    width: 100vw;
    /*height: calc(100vh - 300px);*/
    margin: 0;
    border-radius: 0;
    padding: 40px 24px;
    transition: transform 0.2s ease-out;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
  }

  .titleArea,
  .btnArea,
  .exchangeTitle,
  .memo {
    width: 100%;
    max-width: 100%;
  }

  .titleTxt {
    font-size: 32px;
  }

  .searchArea {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .searchInput {
    font-size: 14px;
    width: 160px;
    height: 44px;
  }

  .filterBox {
    gap: 24px;
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 16px;
  }

  .cardItem {
    width: 100px;
  }

  .aboutPhoto {
    align-items: center;
  }

  .cardImage {
    width: 200px;
    flex-shrink: 0;
  }

  .memo {
    height: 120px;
  }

  .btnArea {
    gap: 20px;
  }

  .cancelBtn,
  .confirmBtn {
    width: 174px;
  }

  .closeButton {
    display: none;
  }

  .dragBar {
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 48px;
    height: 6px;
    background: var(--gray-400);
    border-radius: 50px;
    margin: 0 auto 16px auto;
    touch-action: none;
  }

  .modal::-webkit-scrollbar,
  .cardList::-webkit-scrollbar {
    display: none;
  }

  .modal,
  .cardList {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 425.9px) {
  .overlay {
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal {
    width: 100vw;
    height: calc(100vh - 40px);
    margin: 0;
    border-radius: 0;
    padding: 40px 24px;
    transition: transform 0.2s ease-out;
    position: relative;
    overflow-y: auto;
  }

  .modal.detail {
    width: 100vw;
    /*height: calc(100vh - 300px);*/
    margin: 0;
    border-radius: 0;
    padding: 40px 24px;
    transition: transform 0.2s ease-out;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
  }

  .titleArea,
  .btnArea,
  .exchangeTitle,
  .memo {
    width: 100%;
    max-width: 100%;
  }

  .titleTxt {
    font-size: 32px;
  }

  .searchArea {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  .searchInput {
    font-size: 14px;
    width: 160px;
    height: 44px;
  }

  .filterBox {
    display: none;
  }

  .filterToggleBtn {
    display: inline-block;
    margin-right: 8px;
    align-items: center;
  }

  .mobileFilterBox {
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    z-index: 100;
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 2px;
  }

  .cardItem {
    width: 100%;
  }

  .aboutPhoto {
    flex-direction: column;
    align-items: center;
  }

  .responsiveImage {
    width: 370px;
    height: 250px;
  }

  .cardImage {
    width: 60%;
    height: 100%;
  }

  .cardSubTitle {
    width: 100%;
    flex-wrap: nowrap;
    gap: 8px;
    padding-bottom: 16px;
  }

  .saleDetail {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .amountRow {
    width: 400px;
    gap: 50px;
    font-size: 18px;
  }

  .priceRow {
    width: 400px;
    gap: 71.5px;
    font-size: 18px;
  }

  .amountControlBox {
    width: 150px;
  }

  .inputField {
    width: 200px;
  }

  .amountBox {
    width: 100%;
    min-width: 50px;
    max-width: 80px;
  }

  .exchangeFilterArea {
    justify-content: center;
    gap: 20px;
  }

  .exchangeFilter {
    font-size: 16px;
  }

  .gradeSelect,
  .genreSelect {
    width: 180px;
    font-size: 12px;
  }

  .memo {
    height: 140px;
  }

  .btnArea {
    gap: 15px;
    padding-bottom: 40px;
    margin-top: 40px;
  }

  .cancelBtn,
  .confirmBtn {
    width: 180px;
  }

  .closeButton {
    display: none;
  }

  .dragBar {
    display: block;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 48px;
    height: 6px;
    background: var(--gray-400);
    border-radius: 50px;
    margin: 0 auto 16px auto;
    touch-action: none;
  }

  .modal::-webkit-scrollbar,
  .cardList::-webkit-scrollbar {
    display: none;
  }

  .modal,
  .cardList {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
