.modal {
  width: 560px;
  height: 375px;
  background-color: var(--gray-500);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  z-index: 50;
  padding: 24px;
  box-sizing: border-box;
}

.title {
  color: var(--white);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}

.description {
  color: var(--gray-300);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 60px;
}

.confirmButton {
  background-color: var(--main);
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  width: 170px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  color: var(--black-black);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.confirmButton:hover {
  filter: brightness(0.9);
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 49;
}
