.Container {
  background-color: var(--black);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 300px;
  align-items: center;
}

.Wrapper {
  width: 100%;
  max-width: 1300px; 
  margin: 0 auto;
}
