.Container {
  background-color: var(--black);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 300px;
  align-items: center;
}

.Wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@media (min-width: 743px) and (max-width: 1199px) {
  .Wrapper {
    max-width: 1100px;
    padding: 15px;
  }
}

@media (max-width: 743px) {
  .Wrapper {
    padding: 15px;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translateY(0) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.isLoading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.loadingLogo {
  animation: popIn 0.6s ease forwards;
}
